<nav class="navbar navbar-expand-lg navbar-dark px-lg-5">
    <a href="/index.html" class="navbar-brand ms-4 ms-lg-0 d-flex align-items-center">
        <img src="/img/logo-1.png" alt="BRIF Logo" style="height:45px; width:auto;"> </a>

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a href="/index.html" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown" data-parent="company">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Company
                </a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/company/about-us.html" class="dropdown-item">About Us</a>
                    <a href="/company/company-overview.html" class="dropdown-item">Company Overview</a>
                    <a href="/company/our-capabilities.html" class="dropdown-item">Our Capabilities</a>
                    <a href="/coming-soon.html" class="dropdown-item">Resources</a>
                    <a href="/coming-soon.html" class="dropdown-item">Announcements</a>
                    <a href="/coming-soon.html" class="dropdown-item">Careers</a>
                </div>
            </div>
            <div class="nav-item dropdown" data-parent="services">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/biz-solutions.html" class="dropdown-item">Biz Solutions</a>
                    <a href="/service-accounting-tax.html" class="dropdown-item">Accounting & Tax</a>
                    <a href="/service-company-secretarial.html" class="dropdown-item">Business Services</a>
                    <a href="/service-human-resource-outsource.html" class="dropdown-item">Human Resource
                        Outsource</a>
                    <a href="/service-web-design-development.html" class="dropdown-item">Web Design &
                        Development</a>
                    <a href="/service-design-branding.html" class="dropdown-item">Design &
                        Branding</a>
                    <a href="/service-internet-connectivity.html" class="dropdown-item">Internet &
                        Connectivity</a>
                    <a href="/service-payment-solution.html" class="dropdown-item">Payment Solutions</a>
                    <!-- <a href="/coming-soon.html" class="dropdown-item">Social Media
                        Marketing</a> -->
                </div>
            </div>
            <a href="https://brif.store/" class="nav-item nav-link">Digital Store</a>
            <a href="/partner.html" class="nav-item nav-link">Partner</a>
        </div>

        <div class="d-none d-lg-flex">
            <a class="btn btn-outline-primary border-2" href="/contact.html">Contact Us</a>
        </div>
    </div>
</nav>